<h1>Login Page</h1>
<form [formGroup]="loginForm" (ngSubmit)="submitLoginForm(loginForm.value)">
  <span class="error" *ngIf="errorMessage">{{errorMessage}}</span>
  <div>
    <input class="form-control" id="username" type="text" formControlName="email" placeholder="Email">
  </div>
  <div>
    <input class="form-control" id="password" type="password" formControlName="password" placeholder="Password">
  </div>

  <button type="submit">Login</button>
  <button [routerLink]="['/register']">Register</button>
</form>
