<div class="container">
  <h2>User List</h2>
  <button class="add-user" [routerLink]="['/add-user']">Add User</button>
  <button class="logout" appLogOut>Log Out</button>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" style="display: none">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Role</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of usersPagination">
        <th scope="row" style="display: none">{{ user._id }}</th>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.role}}</td>
        <td>
          <button [routerLink]="['/edit-user/', user._id]">Edit</button>
          <button (click)="deleteStudent(user)">Delete</button>
        </td>
      </tr>
      </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: max-content" [(ngModel)]="pageSize">
      <option [ngValue]="5">5 items per page</option>
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="25">25 items per page</option>
    </select>
  </div>
</div>
